*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html,body{
    height: 100%;
    width: 100%;
    background: #FFFFFF;
}

.main{
    height: 100%;
    width: 100%;
    position: relative;
}

:root{
    --blue-clr: blue;
    --gray-clr: gray;
    --clr-light-gray :#7f7f7f97;
    --white-text : #fff;
    --clr-black : #000;
    --login-btn-clr :rgb(54, 54, 54);
    --cart-bg : #0a9a20;
}

/* header start */

header{
    height: 92px;
    min-width: 100%;
    display: flex;
    gap: 1vw;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 1rem;
}

.header-left-section{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}

.vertical-bar{
    width: 1px;
    height: 100%;
    background-color: #F2F2F2;
}

.delivery-location{
    display: flex;
    flex-direction: column;
}

.delivery-location h3{
    font-size: 1.6vw;
}

.location span{
    font-size: 1.4vw;
}

/* search bar */

.header-middle-section{
    flex-grow: 1;
    max-width: 100%;
    height: 50%;
    margin: auto;
    padding: 10px 20px;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    background: #F8F8F8;
    border: 1px solid #797979;
    border-radius: 10px;
}

.header-middle-section input{
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.5vw;
}

.header-middle-section i{
    font-size: 1.2vw;
}


/* login cart section */
.header-right-section{
    flex-basis: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
}

.login-btn{
    font-size: 1.2vw;
    background: inherit;
    color: var(--login-btn-clr);
    border: none;
    outline: none;
}

.mycart-btn{
    background: var(--cart-bg);
    color: var(--white-text);
    font-size: 1.2vw;
    padding: 14px ;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.mycart-btn i{
    font-size: 1.5vw;
}

.mycart-btn span{
    font-size: 0.8rem;
    font-weight:bold;
}

/* profile */
.profile{
    display: none;
    margin: auto;
    padding: 20px;
    font-size: 2.2vw;
}

/* header ended */


/*---------------- content section start----------------- */

.middle-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paan-banner{
    min-width: 100%;
    padding: 10px 0;
}

.paan-banner .banner-image-container{
    height: 300px;
    width: 85%;
    margin: 0 auto;
}

.paan-banner .banner-image-container img{
    height: 100%;
    width: 100%;
}


/* coupon list */

.coupon-list-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupon-list-wrapper{
    width: 85%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    gap: 1.5%;
}

.coupon-image-container{
    flex-basis: 27%;
}

.coupon-image-container img{
    width: 100%;
}


/* display-items */
.display-items-wrapper{
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.display-items-container{
    width: 85%;
    display: flex;
    align-items: center;
    gap: 1%;
}

.display-items-image-box{
    flex-basis: 9%;
}

.display-items-image-box img{
    width: 100%;
}

/* <!-- catagorised-display items --> */
.catagory-items-wrapper{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.6rem;
}

.catagory-items-container{
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.catagory-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2rem;
}

.catagory-products-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5%;
}

.catagory-individual-product{
    flex-basis: 15%;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.1vw;
    border-radius: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.catagory-image-container{
    width: 100%;
}

.catagory-image-container img{
    width: 100%;
}

.catagory-product-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:0.7rem;    
}

.time-text{
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3px;
    font-size: 0.5rem;
    font-weight: 700;
    color: rgb(54, 54, 54);
    text-transform: uppercase;
    background: #80808013;
    border-radius: 3px;
    padding: 2px;
}

.product-title{
    font-size: 1vw;
}

.catagory-product-text p{
    color: gray;
    font-size: 1vw;
}

.catagory-product-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.catagory-product-price span{
    font-size: 0.9vw;
    font-weight: 600;
}

.catagory-product-price button{
    padding: 6px 15px;
    border-radius: 5px;
    font-size: 0.95vw;
    background: rgba(172, 255, 47, 0.049);
    color: var(--login-btn-clr);
    border: 1px solid var(--login-btn-clr);
    font-weight: 600;
    text-transform: uppercase;
}


/* footer start */
footer{
    margin-top: 100px;
    padding: 10px 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.footer-upper-section, .footer-lower-section{
    width: 85%;
}

.footer-lower-section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-upper-section{  
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

footer .footer-useful-links-container{
    flex-basis: 35%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.links-wrapper, .catagories-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* gap: 30%; */
}

.catagories-wrapper{
    align-items: unset;
}

.links1, .links2, .links3,.catagory1,.catagory2,.catagory3{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: gray;
    font-size: 1.1vw;
    text-transform: capitalize;
}



footer .footer-catagories-container{
    flex-basis: 65%; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.catagory-titles{
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.catagory-titles span{
    color: green;
    font-size: 1.3vw;
}

.footer-lower1, .footer-lower2{
    width: 100%;
}

.footer-lower1{
    background: rgba(128, 128, 128, 0.037);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 0 15px;
}

.footer-lower1-left{
        font-size: 1.1vw;
}

.footer-lower1-middle{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    gap: 1vw;
}

.footer-lower2{
    color: gray;
    font-size: 1.5vw;
    padding: 0 10px;
    text-align: justify;
}

.google-play-image{
    width: 10vw;
}
.google-play-image img{
    width: 100%;
}

.play-store-image{
    width: 17vw;
}

.play-store-image img{
    width: 100%;
}

.footer-lower1-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.social-icons{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #000;
    color: #fff;
}

.social-icons i{
    font-size: 2vw;  
}



/* -----------------tablet responsive--------------- */

@media only screen and (max-width : 1020px) and(min-width: 401px){
    header{
        height: 150px;
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }

    .header-left-section .logo,.vertical-bar,.header-right-section{
        display: none;
    }

    .header-left-section, .header-middle-section{
        justify-content: left;
        height: 30%;
    }

    .header-middle-section input{
        width: calc(80vw);
    }

    .header-middle-section input, .header-middle-section i{
        font-size: 4vw;
    }

    .profile{
        display: block;
        font-size: 6vw;
        position: absolute;
        right: 0;
        top: 0;
    }

    .paan-banner{
        display: none;
    }

    /*---------- middle content--------- */



    /* ----------footer responsive-------- */
    .footer-lower1{
        flex-direction: column;
        gap: 0;
        padding: 10px 0;
    }

    .footer-lower1-left{
        font-size: 2vw;
    }

    .footer-lower1-middle{
        font-size: 2vw;
        gap: 0.2vw;
    }


    .footer-lower1-right{
        gap: 0.5rem;
    }

    .social-icons {
        height: 20px;
        width: 20px;
    }
    .social-icons i{
        font-size: 3vw;
    }

    .footer-lower2{
        font-size: 2vw;
    }
}



/* -----------------mobile responsive-- */
@media only screen and (max-width: 400px){
    header{
        height: 120px;
        flex-direction: column;
        align-items:center;
        padding: 20px 10px;
        gap: 10px;
    }

    .header-left-section .logo,.vertical-bar,.header-right-section{
        display: none;
    }

    .delivery-location h3{
        font-size: 4vw;
    }
    
    .location span{
        font-size: 3.5vw;
    }

    .header-left-section, .header-middle-section{
        justify-content: left;
        height: 20%;
    }
    .header-left-section{
        margin-left: -145px;
    }

    .header-middle-section{
        height: 40%;
        padding: 5px 10px;
        border-radius: 10px;
        width: 80%;
       display: flex;
       justify-content: center;

    }

    .header-middle-section input{
        width: 60vw;
    }

    .header-middle-section input, .header-middle-section i{
        font-size: 4vw;
    }

    
    .header-middle-section input{
        font-size: 4vw;
    }
    
    .header-middle-section i{
        font-size: 4vw;
    }
    
    .profile{
        display: block;
        font-size: 10vw;
        position: absolute;
        right: 25px;
        top: -10px;
    }

    .paan-banner{
        display: none;
    }


    /* middle content */
    .coupon-list-wrapper{
        padding: 0 10px;
        flex-direction: column;
        gap: 0.33%;
    }
    
    .coupon-image-container{
        flex-basis: 33%;
    }

    .display-items-container{
        flex-wrap: wrap;  
        gap: 0.1%;
    }
    .display-items-image-box{
        flex-basis: 32%;
    }

    .catagory-products-container{
        flex-wrap: wrap;
        gap: 10%;
    }
    .catagory-individual-product{
        flex-basis: 40%;
        margin-bottom: 15px;
    }
    .product-title{
        font-size: 3vw;
    }
    .catagory-title h3{
        font-size: 4vw;
    }
    .catagory-product-text p{
        color: gray;
        font-size: 4vw;
    }
    
    .catagory-product-price span{
        font-size: 4vw;
        font-weight: 600;
    }
    
    .catagory-product-price button{
        font-size: 3vw;
    }

    /* footer */
    footer{
        margin-top: 30px;
    }
    .footer-upper-section{  
       flex-direction: column;
    }
    .footer-useful-links-container h3, .footer-catagories-container h3{
        font-size: 4vw;
        color: red;
    }
    .catagory-titles span {
        font-size: 4vw;
    }
    .links-wrapper span, .catagories-wrapper span{
        font-size: 3vw;
    }
    .footer-lower1{
        flex-direction: column;
        padding: 10px;
        gap: 0;
    }
    
    .footer-lower1-left {
        font-size: 3.2vw;
    }
    .footer-lower1-middle{
        font-size: 4vw;
        gap: 1rem  ;
    }
    .footer-lower1-middle span{
        font-size: 3.5vw;
    }
    .footer-lower2{
        font-size: 3.2vw;
    }
    .google-play-image{
        width: 15vw;
    }
    
    .play-store-image{
        width: 25vw;
    }

    .social-icons {
        height: 30px;
        width: 30px;
    }
    .social-icons i{
        font-size: 4vw;
    }
}